<section>
    <form role="form" style="padding-top:10em; max-width:30em; margin: 0 auto;" align="center" class="form-horizontal">
        <h2>欢迎注册</h2>
        <div>
            <label for="inputEmail">Email</label>
            <div>
                <input type="text" class="form-control" ng-model="user.email"/>
            </div>
        </div>
        <div>
            <label for="inputUsername">Username</label>
            <div>
                <input type="text" ng-model="user.username"/>
            </div>
        </div>
        <div>
            <label for="inputpassword">Password</label>
            <div>
                <input type="password" ng-model="user.password"/>
            </div>
        </div>
        <div>
            <label for="inputpasswordConfirmed">PasswordConfirmed</label>
            <div>
                <input type="password" ng-model="user.passwordConfirmed"/>
            </div>
        </div>
        <div>
            <div>
                <input type="submit" ng-click="register(user.email, user.username, user.password, user.passwordConfirmed)"/>
            </div>
        </div>
    </form>
</section>